<p>{{ estabelecimento.noFantasia }}</p>

<input
  class="form-control"
  id="nome"
  type="text"
  name="estabelecimento.noFantasia"
  [(ngModel)]="estabelecimento.noFantasia"
  disabled
/>

<!--

<div class="col-lg-12 col-xs-12 clearfix">
  <div class="row g-3">
    <div class="col-md-7">
      <div class="form-floating">
        <input
          class="form-control"
          id="nome"
          type="text"
          name="estabelecimento.noFantasia"
          [(ngModel)]="estabelecimento.noFantasia"
          disabled
        />
        <label for="floatingInput">Nome</label>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="cnes"
          type="text"
          name="estabelecimento.cnes"
          [(ngModel)]="estabelecimento.cnes"
          disabled
        />
        <label>CNES</label>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-floating">
        <input
          class="form-control"
          id="cnpj"
          type="text"
          name="estabelecimento.cnpj"
          [(ngModel)]="estabelecimento.cnpj"
          disabled
        />
        <label>CNPJ</label>
      </div>
    </div>

    <div class="col-md-7">
      <div class="form-floating">
        <input
          class="form-control"
          id="noEmpresarial"
          type="text"
          name="estabelecimento.noEmpresarial"
          [(ngModel)]="estabelecimento.noEmpresarial"
          disabled
        />
        <label>Nome Empresarial</label>
      </div>
    </div>

    <div class="col-md-5">
      <div class="form-floating">
        <input
          class="form-control"
          id="dsTpUnidade"
          type="text"
          name="estabelecimento.dsTpUnidade"
          [(ngModel)]="estabelecimento.dsTpUnidade"
          disabled
        />
        <label>Tipo Estabelecimento</label>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-floating">
        <input
          class="form-control"
          id="nuCompDesab"
          type="text"
          name="estabelecimento.nuCompDesab"
          [(ngModel)]="estabelecimento.nuCompDesab"
          disabled
        />
        <label>Data da Desativação</label>
      </div>
    </div>

    <div class="col-md-9">
      <div class="form-floating">
        <input
          class="form-control is-invalid"
          id="dsMotivoDesab"
          type="text"
          name="estabelecimento.dsMotivoDesab"
          [(ngModel)]="estabelecimento.dsMotivoDesab"
          disabled
        />
        <label>Motivo da Desativação</label>
      </div>
    </div>
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
      </div>
    </div>
  </div>
</div>


-->
