<div class="container d-flex flex-column">
  <div class="d-flex mt-5 flex-fill">
    <form class="d-flex flex-fill">
      <input
        id="input-pesquisar"
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        [(value)]="inputPesquisa"
      />
      <button
        class="btn btn-outline-success"
        type="button"
        (click)="retrieveEstabelecimento()"
      >
        Pesquisar
      </button>
    </form>
  </div>
  <div *ngIf="estabelecimento" class="card mt-5">
    <h5 class="card-header">{{ estabelecimento.noFantasia }}</h5>
    <div class="card-body">
      <h5 class="card-title">{{ estabelecimento.noEmpresarial }}</h5>
      <p class="card-text">
        {{ estabelecimento.cnpj }}
      </p>
      <a href="#" class="btn btn-primary">Renovar</a>
    </div>
  </div>
</div>
