<div class="container d-flex flex-column">
  <div class="d-flex mt-4 flex-fill">
    <form class="d-flex flex-fill">
      <!--



-->

      <div class="input-group mb-3">
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInputGroup" />
          <label for="floatingInputGroup"
            >Procure por CNES ou CNPJ ou CPF</label
          >
        </div>
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-addon"
        >
          Pesquisar
        </button>
      </div>

      <!--


  
-->
    </form>
  </div>
  <div *ngIf="estabelecimento" class="mt-4 col-lg-12 col-xs-12 clearfix">
    <div class="row g-3">
      <div class="col-md-7">
        <div class="form-floating">
          <input
            class="form-control"
            id="nome"
            type="text"
            name="estabelecimento.noFantasia"
            [(ngModel)]="estabelecimento.noFantasia"
            disabled
          />
          <label for="floatingInput">Nome</label>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-floating">
          <input
            class="form-control"
            id="cnes"
            type="text"
            name="estabelecimento.cnes"
            [(ngModel)]="estabelecimento.cnes"
            disabled
          />
          <label>CNES</label>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-floating">
          <input
            class="form-control"
            id="cnpj"
            type="text"
            name="estabelecimento.cnpj"
            [(ngModel)]="estabelecimento.cnpj"
            disabled
          />
          <label>CNPJ</label>
        </div>
      </div>

      <div class="col-md-7">
        <div class="form-floating">
          <input
            class="form-control"
            id="noEmpresarial"
            type="text"
            name="estabelecimento.noEmpresarial"
            [(ngModel)]="estabelecimento.noEmpresarial"
            disabled
          />
          <label>Nome Empresarial</label>
        </div>
      </div>

      <!-- <div class="col-md-5">
        <div class="form-floating">
          <input
            class="form-control"
            id="natJuridica"
            type="text"
            name="estabelecimento.natJuridica"
            [(ngModel)]="estabelecimento.natJuridica"
            disabled
          />
          <label>Natureza Jurídica</label>
        </div>
      </div> -->

      <div class="col-md-5">
        <div class="form-floating">
          <input
            class="form-control"
            id="dsTpUnidade"
            type="text"
            name="estabelecimento.dsTpUnidade"
            [(ngModel)]="estabelecimento.dsTpUnidade"
            disabled
          />
          <label>Tipo Estabelecimento</label>
        </div>
      </div>

      <!-- <div class="col-md-3">
        <div class="form-floating">
          <input
            class="form-control"
            id="nome"
            type="text"
            ng-value="estabelecimento.subtipoEstabelecimento"
            value=""
            disabled
          />
          <label>Sub Tipo Estabelecimento</label>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-floating">
          <input
            class="form-control"
            id="nome"
            type="text"
            ng-value="estabelecimento.gestao"
            value=""
            disabled
          />
          <label>Gestão</label>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-floating">
          <input
            class="form-control"
            id="nome"
            type="text"
            ng-value="estabelecimento.diretorioClinicoGerenteAdministrador"
            value=""
            disabled
          />
          <label>Diretor Clínico/Gerente/Administrador</label>
        </div>
      </div> -->

      <div class="col-md-4">
        <div class="form-floating">
          <input
            class="form-control"
            id="dtAtualizacaoOrigem"
            type="text"
            name="estabelecimento.dtAtualizacaoOrigem"
            [(ngModel)]="estabelecimento.dtAtualizacaoOrigem"
            disabled
          />
          <label>Cadastrado em</label>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-floating">
          <input
            class="form-control"
            id="dtAtualizacao"
            type="text"
            name="estabelecimento.dtAtualizacao"
            [(ngModel)]="estabelecimento.dtAtualizacao"
            disabled
          />
          <label>Atualização na Base Local</label>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-floating">
          <input
            class="form-control"
            id="dtCarga"
            type="text"
            name="estabelecimento.dtCarga"
            [(ngModel)]="estabelecimento.dtCarga"
            disabled
          />
          <label>Última atualização Nacional</label>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-floating">
          <input
            class="form-control"
            id="nuCompDesab"
            type="text"
            name="estabelecimento.nuCompDesab"
            [(ngModel)]="estabelecimento.nuCompDesab"
            disabled
          />
          <label>Data da Desativação</label>
        </div>
      </div>

      <div class="col-md-9">
        <div class="form-floating">
          <input
            class="form-control"
            id="dsMotivoDesab"
            type="text"
            name="estabelecimento.dsMotivoDesab"
            [(ngModel)]="estabelecimento.dsMotivoDesab"
            disabled
          />
          <label>Motivo da Desativação</label>
        </div>
      </div>

      <div class="btn-group">
        <button type="submit" class="btn btn-success">Atualizar</button>
      </div>
    </div>
  </div>
</div>
